.app-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  height: 100vh;
}

.header {
  width: 100%;
  z-index: 1;
  height: 64px;
  min-height: 64px;
  padding: 0 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  color: white;

  .app-title {
    font-weight: bold;
    font-size: 16px;
    color: white;
  }

  .username {
    font-size: 12px;

    a {
      text-decoration: underline;
    }
  }
}

$body-top-margin: 48px;
$body-bottom-margin: 18px;

$body-side-margin-large: 48px;
$body-side-margin-small: 12px;
$body-side-padding: 0;

@mixin large-vp {
  @media (min-width: 960px) {
    @content;
  }
}
@mixin small-vp {
  @media (max-width: 959px) {
    @content;
  }
}
.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;

  padding-right: $body-side-padding;
  padding-left: $body-side-padding;

  margin-bottom: $body-bottom-margin;
  margin-top: $body-top-margin;

  @include large-vp {
    margin-right: $body-side-margin-large;
    margin-left: $body-side-margin-large;
  }
  @include small-vp {
    margin-right: $body-side-margin-small;
    margin-left: $body-side-margin-small;
  }

  position: relative;
}

.spinner {
  margin: auto;
}

.footer {
  padding: 8px;
  background-color: #f6f6f6;

  a {
    text-decoration: underline;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 48px;
  left: 260px;
  opacity: 1;
  transition: opacity 0.5s ease-out;

  &.hidden {
    opacity: 0;
    cursor: unset;
  }
}
