.container {
  width: 100%;
  padding: 0 64px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title {
  display: flex;
  align-items: center;

  .score {
    margin-right: 4px;
  }
}

.external-frame {
  width: 100%;

  min-height: 600px;
}

.user-footer {
  width: 100%;
  margin-top: 32px;
  padding-bottom: 14px;
  border-bottom: 2px solid black;
}
